/**************** Partie globale  ****************/
@font-face {
    font-family: 'Dungeon';
    src: url('font/dungeon.ttf');
}

body {
	font-size : 15pt;
	font-family : "Dungeon", sans-serif;
	color: black;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

h2 {
	margin-top : 0px;
	font-weight : bold;
}

/**************** Gère l'image qui sert de titre  ****************/
#titre{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 2%;
}

/**************** Fiche personnage ****************/
#fiche{
	position : absolute;
	width : 300px;
	height: 450px;
	font-size: 20pt;
	background-image: url("img/fiche.png");
	background-size: 300px, 450px;
	background-repeat: no-repeat;
	text-align: center;
}

#fiche h2{
	margin-top: 0px;
	margin-bottom: 0px;
}

/**************** Mise à niveau de la fiche perso pour tous les navigateurs ****************/
#fiche .avatar{
	height: 130px;
}

#fiche .name, #inventaire{
	height: 49px;
}

#fiche #status{
	height: 85px;
}

#fiche .race{
	height: 32px;
}

#status div {
	display : block;
	font-size: 16px;
}
#status div+div {
	border-left : none;
}

/**************** Barre de vie  ****************/
#status .life{
	padding-left: 6px;
} 

#status .life progress[value] {
	-webkit-appearance: none;
   	appearance: none;
	width: 150px;
	height: 12px;
	margin-bottom: 2px;
	border: 1px solid black;
}

#status .life progress[value]::-webkit-progress-bar {
	background-color: #eee;
  	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#status .life progress[value]::-webkit-progress-value{
	background: #93CC57;
}
#status .life progress[value]::-moz-progress-bar{
	background-color: #93CC57;
  	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/**************** Mana  ****************/
#status .mana progress[value] {
	-webkit-appearance: none;
   	appearance: none;
	width: 150px;
	height: 12px;
	margin-bottom: 2px;
	border: 1px solid black;
}

#status .mana progress[value]::-webkit-progress-bar {
	background: #eee;
  	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#status .mana progress[value]::-webkit-progress-value{
	background: #4ABCEE;
}

#status .mana progress[value]::-moz-progress-value{
	background-color: #4ABCEE;
  	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#inventaire,#key{
	text-decoration: underline;
}


/**************** Partie centrale (contenant l'histoire) ****************/

.section {
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	margin : auto;
	margin-top : 4%;
	max-width : 1150px;
	min-height: 660px;
	background-image: url("img/parchemin.png");
	background-repeat: no-repeat;
	background-size: auto;
	font-size: 30px;
	font-family: 'Dungeon', Arial, sans-serif;
}
.section#intro {
	display : block;
}

.section button {
	display : block;
	max-width : 100%;
	text-decoration : none;
	margin-right: auto;
	margin-left: auto;
	padding : 5px;
	margin-top : 30px;
	text-decoration: underline;
	background-color: transparent;
	border : none;
	cursor : pointer;
	font-family: 'Dungeon', Arial, sans-serif;
	font-size: 30px;
}

.section button+button  {
	margin-top : 10px;
}

.only-with-key{
	display: none;
}

.battle {
	padding : 10px 10px;
	margin : 20px 0px;
	box-shadow : 0px 2px 8px gray;
}


